.counter {
  text-align: center;
  background-color: orange;
  color: white;
  font-size: 35px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  width: 400px;
  margin: 70px auto;
}

.increment-btn {
  background-color: yellow;
  color: black;
  font-size: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile {
  background-color: purple;
  color: white;
  font-size: 25px;
  border: 3px solid black;
  border-radius: 10px;
  width: 700px;
  margin: 70px auto;
  padding: 10px 20px;
}

.shopping-list {
  background-color: blue;
  color: white;
  font-size: 25px;
  border: 3px solid black;
  border-radius: 10px;
  width: 700px;
  margin: 70px auto;
  padding: 10px 20px;
}

.items-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.photos {
  background-color: lightblue;
  color: white;
  font-size: 25px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 70px auto;
  padding: 10px 20px;
}

.photo-parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

/* .photo-child {
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
  background-color: burlywood;
} */

.users {
  background-color: lightblue;
  color: white;
  font-size: 25px;
  border: 3px solid black;
  border-radius: 10px;
  /* width: 700px; */
  margin: 70px auto;
  padding: 10px 20px;
}

.user-parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

/* .user-child {
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
  background-color: burlywood;
  cursor: pointer;
} */

.loader {
  width: 50px;
  aspect-ratio: 1;
  --_c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
  background:
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
  margin: auto;
}
@keyframes l7 {
  to {
    transform: rotate(0.5turn);
  }
}

.selected-users-parent {
  background-color: lightblue;
  color: white;
  font-size: 25px;
  border: 3px solid black;
  border-radius: 10px;
  width: 90%;
  margin: 70px auto;
  padding: 10px 20px;
}

.selected-user {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.products-parent{
  background-color: lightblue;
  color: white;
  font-size: 25px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 70px auto;
  padding: 10px 20px;
}

.products-parent-div{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.cart{
  background-color: lightblue;
  color: white;
  font-size: 25px;
  border: 3px solid black;
  border-radius: 10px;
  width: 90%;
  margin: 70px auto;
  padding: 10px 20px;
}