.demo{
  color: blue;
}
.greetings-card{
  border: solid 3px green;
  margin: 10px;
  padding: 20px;
  background-color: lightgreen;
  border-radius: 10px;
}

.product-card{
  border: solid 3px blue;
  margin: 10px;
  padding: 20px;
  background-color: lightblue;
  border-radius: 10px;
}

.unauthorized-message-card{
  border: solid 3px red;
  margin: 10px;
  padding: 20px;
  background-color: lightcoral;
  border-radius: 10px;
}

.products-parent{
  border: solid 3px rgb(119, 79, 79);
  margin: 10px;
  padding: 20px;
  background-color: rgb(163, 155, 155);
  border-radius: 10px;
}